html {
    font-size: 12px;
}

body {
    font-size: 1.6rem;
    background-image: url(https://pbs.twimg.com/media/DLHigvcUMAA9bIb?format=jpg&name=medium);
    background: linear-gradient(#0f5ca5, #002344);
    background-size: 100% 150%;
}

#sidebar {
    background-color: aliceblue;
    writing-mode: vertical-lr;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 3rem;
    padding-top: 15px;
}

#homeButton {
    position: absolute;
    z-index: 2;
    top: 1em;
    width: 80px;
    font-size: 18px;
    padding: 6px;
    border: none;
    background: #002344;
    color: white;
    cursor: pointer;
}

#homeButton:hover {
    background-color: #003B73;
}

article, header {
    background-color: aliceblue;
    width: 50%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.4);
}

header {
    height: fit-content;
    padding: 5px;
    text-align: center;
}

figcaption {
    font-size: 1.6rem;
    text-align: center;
    font-style: italic;
}

.img-boxL, .img-boxR {
    padding: 22px;
}

img {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
}

.img-boxL {
    float: left;
}

.img-boxR {
    float: right;
}

.text-box {
    margin: 0;
}

p>b {
    font-size: 3rem;
}

a {
    text-decoration: solid underline 1px;
    color: royalblue;
}

h1 {
    font-size: 3rem;
    margin: 10px;
}

section>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    text-align: center;
    text-decoration: solid underline 1px;
}

li>a {
    font-style: italic;
}

a>img {
    width: 300px;
}