@font-face {
    font-family: "ChalkFont";
    src: url('assets/chawp.ttf') format('truetype')
}

:root {
    --chalk: "ChalkFont";
}

body {
    margin: 0;
    background-color: gainsboro;
}

main {
    background-color: gainsboro;
    margin: 0 auto;
}

.inputConteiner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputConteiner h2 {
    margin: 10px 0 0;
}

.inputConteiner input {
    margin: 10px;
    width: 60px;
    text-align: center;
}

.boardConteiner {
    width: 1080px;
    height: 740px;
    background-image: url(assets/board.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px auto 20px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}

.boardConteiner p {
    margin-top: 24px;
    white-space: nowrap;
}

.boardConteiner-columns {
    margin-top: 4.5%;
    color: white;
    height: 84%;
    width: 90%;
    font-family: var(--chalk);
    display: flex;
    justify-content: space-between;
}

.boardConteiner-columns-left, .boardConteiner-columns-right {
    width: 49%;
    height: 100%;
    line-height: 32px;
    text-align: left;
}

.boardConteiner > p {
    position: absolute;
    bottom: 0;
    margin: 0;
    font-family: var(--chalk);
    font-size: 20px;
    color: white;
}

#bart {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
}
