/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    background-color: #101010;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
}

main {
    padding: 100px;
    background-color: white;
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

.valorsContainer {
    display: flex;
    justify-content: center;
}

button {
    width: 30px;
    border-radius: 4px;
    border: 1px solid #999999;
    margin: 0 4px;
    cursor: pointer;
}

.valor {
    margin: 20px;
}

input {
    width: 60px;
    text-align: center;
}

#btnReset {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: rgb(194, 42, 42);
    border: 0;
    color: white;
    font-size: 14px;
}

#resultConteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultConteiner h3 {
    margin-bottom: 0;
}

#resultOutput {
    height: 30px;
    width: 100px;
    border: 1px solid #999999;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;

}