:root {
    --oswald: 'Oswald', sans-serif;
    --raleway: 'Raleway', sans-serif ;
    --orangeText: rgb( 252,152,35);
    --bgBlue: rgb(0, 7, 105);
}

html {
    /* cursor: url(files/pexecursor.png) 0 0, default;
    cursor: url; */
}

body {
    margin: 0;
    font-family: var(--oswald);
    overflow-x: hidden;
    max-width: 1900px;
}

header {
    width: 100vw;
    height: 127px;
    background-color: var(--bgBlue);
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.topConteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 980px;
    color: white;
    padding: 0 80px;
}

.rightHeaderConteiner {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 22px;
}

#logo {
    height: 70%;
    align-self: center;
    margin-right: 13px;
}

.rightHeaderConteiner span {
    white-space: nowrap;
}

.leftHeaderConteiner {
    display: flex;
    justify-content: flex-end;
    margin-right: 13px;
    font-size: 14px;
    height: 50%;
    margin-top: 58px;
    margin-bottom: 39px;
}

.leftHeaderConteiner nav, .leftHeaderConteiner img {
    display: flex;
    align-items: center;
}

nav {
    font-family: var(--raleway);

}

nav span {
    margin: 0 32px;
    cursor: pointer;
    transition: 0.3s;
}

nav span:hover {
    color: var(--orangeText);
}

nav span:nth-child(1) {
    color: var(--orangeText);
}

.headerMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.headerMedia img {
    height: 20px;
    width: 20px;
    margin: 5px;
    cursor: pointer;

}

.shopCart {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

.shopCart img {
    height: 20px;
    cursor: pointer;
}

.mainVideo {
    margin-top: 80px;
}

.mainVideoConteiner {
    position: relative;
    min-width: 980px;
    margin: 0 80px;
}

.videoCrop {
    min-width: 980px;
    max-width: 100%;
    height: 860px;
}

.mainVideoConteiner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.videoOverlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
}

.videoContent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcomeText {
    position: relative;
    color: white;
    width: 540px;
    font-family: var(--oswald);
    text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-bottom: 34px;
}

#subWelcomeText {
    color:white;
    text-align: center;
    font-family: var(--raleway);
    font-size: 20px;
}

.buyButton {
    margin-top: 60px;
    width: 144px;
    height: 45px;
    background-color: var(--orangeText);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--raleway);
    font-size: 15px;
    color: var(--bgBlue);
    cursor: pointer;
    z-index: 0;
    transition: 0.3s;
}

.buyButton:hover {
    background-color: rgba(0, 7, 105, 0.6);
    color: white;
}

.categoriesImages {
    margin: 80px 80px;
    margin-bottom: 0;
}

.imagesConteiner {
    width: 100%;
    min-width: 980px;
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
}

.imagesConteiner div {
    height: 520px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    background-repeat: no-repeat;
}

.imagesConteiner a {
    width: 200px;
    line-height: 1,375em;
}

.image1, .image2, .image3 {
    width: 32%;
    object-fit: cover;
    background-position: center center;
}

.image1 {
    background-image: url(files/img1.webp);
}

.image2 {
    background-image: url(files/img2.webp);
}

.image3 {
    background-image: url(files/img3.webp);
}

.imageDimmer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.pageDescription {
    height: 657px;
    min-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--bgBlue);
}

.pageDescription h2 {
    font-size: 50px;
    font-weight: 400;
    color: var(--orangeText);
    margin-top: 0;
    margin-bottom:  42px;
}

.pageDescription h4 {
    font-family: var(--raleway);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 32px;
    color: var(--bgBlue);
}

.pageDescription p {
    font-family: var(--raleway);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.88em;
    width: 702px;
    height: 140px;
    margin-top: 0;
    margin-bottom: 70px;
    color: var(--bgBlue);
    
}

.leiaMais {
    width: 110px;
    height: 45px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orangeText);
    color: var(--bgBlue);
    transition: 0.3s;
    font-family: var(--raleway);
}

.leiaMais:visited {
    color: var(--bgBlue);
}

.leiaMais:hover {
    background-color: rgba(0, 7, 105, 0.6);
    color: white;
}

footer {
    width: 100vw;
    height: 216.4px;
    background-color: var(--bgBlue);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: var(--raleway);
    color: white;
}

.topFooter {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 900px;
    height: 80%;
}

.topFooter div {
    width: 34%;
}

.listName {
    margin-top: 40px;
}

.listName + p {
    margin-bottom: 20px;
}

.conteiner1 p {
    margin-bottom: 40px;
}

.conteiner1 p img {
    margin: 3px;
}

.bottomFooter {
    width: 100vw;
    height: 45px;
    background-color: rgb(228, 228, 228);
    color: var(--bgBlue);
    font-size: 14px;
    letter-spacing: -0,28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottomFooter p {
    margin: 0;
}

.bottomFooter a {
    color: var(--bgBlue);
}



