.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
}

#header-logo {
  width: 50%;
  max-width: 500px;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #141414;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 12px;
  margin: 20px 0;
}

#search-section h2 {
  color: white;
  margin: 12px 0 ;
}

#search-input {
  width: 600px;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

#filters-container {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
  background-color: white;
  color: rgb(141, 141, 141);
  font-weight: 400;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}


#select-icon {
  transition: 0.1s;
}

#poke-type-checkboxes {
  width: 200px;
  background-color: white;
  color: #141414;
  display: none;
  z-index: 5;
  position: absolute;
  font-weight: 400;
}

#poke-type-checkboxes label {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

#poke-type-checkboxes label:hover {
  background-color: #1e90ff;
}

#poke-section {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
  width: 100%;
  min-height: 80vh;
}

#poke-cards-container {
  border-radius: 12px;
  margin: 12px 0 ;
  width: 70%;
  background-color: #9596a6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
}

.poke-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 12px;
  width: 260px;
  max-width: 280px;
}

.card-header {
  width: 100%;
  display: flex;
  background-color: #141414;
  border-radius: 12px 12px 0 0;
  /* justify-content: space-between; */
}

.poke-id {
  align-self: flex-start;
  padding: 6px 12px;
  border-radius: 10px 0 12px 0;
  background-color: rgb(194, 13, 13);
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.poke-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  color: white;
}

.poke-figure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-image: url("./images/pokeball.png");
  background-repeat: no-repeat;
  background-size: 340px;
  background-position: center;
}

.card-divider {
  height: 4px;
  background-color: #222222;
  width: 100%;
}

.poke-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 0 0 12px 12px;
}

.poke-type-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.poke-type {
  padding: 2px;
  width: 80px;
  border-radius: 8px;
  border: solid 2px #222222;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.poke-stats {
  padding: 8px;
  width: 80%;
}

.poke-stats p span:first-child {
  font-weight: bold;
}

.poke-normal-status {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.poke-normal-status p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-base-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 14px 0;
  border-radius: 6px;
  padding: 8px;
  background-color: #141414;
  color: white;
}

.poke-base-stats-title {
  font-weight: bold;
  text-align: center;
  margin: 2px 0 10px;
}

.poke-stat-item {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.poke-stat-item-title {
  font-weight: bolder;
}

.poke-base-stats-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #696969;
  padding: 16px 0 ;
}

footer p {
  color: white;
}