body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#home {
    color: #f1f1f1;
    width: 40px;
    font-size: 18px;
    cursor: pointer;
}

#homeButton {
    width: 80px;
    font-size: 18px;
    padding: 6px;
    border: none;
    background: rgb(65, 65, 65);
    color: white;
    cursor: pointer;
}

#homeButton:hover {
    background: rgb(110, 110, 110);
    color: white;
}