body {
    background-color: black;
    color: white;
}

#home {
    position: fixed;
    top: 0;
    left: 75%;
    color: #f1f1f1;
    width: 40px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

#homeButton {
    width: 80px;
    font-size: 18px;
    padding: 6px;
    border: none;
    background: rgb(150, 150, 150);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#homeButton:hover {
    background: rgb(65, 65, 65);
    color: white;
}