body {
    background-image: url(assets/bg.png);
    background-size: 60%;
    background-color:rgb(44, 44, 44);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color:rgb(27, 27, 27);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

header h1, header h2 {
    margin: 0;
}

header h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h2 {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header img {
    width: 70px;
    margin: 0 10px 0 40px;
}

main {
    min-width: 980px;
    width: 70%;
    height: auto;
    background-color: white;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 0 0 10px 10px;
}

main h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

fieldset {
    text-align: left;
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: 12px;
    border-color:tomato;
    border-radius: 8px;
}

form {
    margin-bottom: 20px;
}

legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.nameContainer {
    display: flex;
    align-items: center;
}

#hamburguerImg {
    width: 300px;
}

#sendButton {
    width: 120px;
    height: 30px;
    background-color: tomato;
    color: white;
    border: 0;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

#sendButton:hover {
    background-color: rgb(252, 139, 119);
}

#ordersContainer {
    min-width: 980px;
    width: 70%;
    height: auto;
    min-height: 300px;
    background-color: white;
    background-color: rgb(246, 246, 246);
    display: flex;
    margin-bottom: 40px;
    border-radius: 10px;
    flex-wrap: wrap;
}

#ordersContainer h4 {
    text-align: center;
}

#ordersContainer > div {
    border: 2px solid tomato;
    border-radius: 8px;
    padding: 6px;
    margin: 40px;
    font-weight: 600;
}

#ordersContainer span {
    font-weight: 400;
}